.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.menu li {
  float: right;
}

.menu li a {
  display: flex;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  min-width: 80px;
}

.menu li a:hover:not(.active) {
  background-color: #111;
}

.menu .active {
  background-color: #4CAF50;
}
.main{
  background-image: url("https://www.escueladesarts.com/wp-content/uploads/estilismo-de-moda.jpg");
  background-color: #cccccc;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
  padding: 200px;
}

#logoCorp{
  float: left;
  color: white;
  text-align: center;
  align-content: center;
  margin-left: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}

#logoCorp a{
  font-size: 50px;
}

#ofertas{
  float: left;
  color: white;
  text-align: center;
  align-content: center;
  margin-left: 50px;
  margin-top: 25px;
}

#ofertas p{
  font-size: 20px;
}

#titulo{
  font-size: 50px;
}

.categorias{
  display: flex;
  justify-content: space-evenly;
}


#titulo {
  text-align: center;
  margin-left: auto;
  font-size: 75x;
  margin-top: 80px;
  margin-bottom: 50px;
}

.ofertasTable {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cardLeft{
  font-size: 20px;
  margin-right: 50px;
}

.cardMid{
  font-size: 20px;
  margin-right: 50px;
}

.cardRight{
  font-size: 20px;
}

.card-title{
  font-size: 20px;
  font-weight: bold;
}

.checked {
  color: orange;
}

.ofertasCarousel {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.footer{
  text-align: center;
  padding: 20px;
  background: rgba(19, 35, 47, .9);
  position: relative;
  bottom: 0;
}

.footer ul{
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    padding: 0;
}

.footer li{
  list-style: none;
  display: inline-block;
  border-right: 3px solid white;
  padding: 0px 7px;
  font-size: 17px;
}

.footer li:last-child{
  border-right: none;
}

.footer li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}