<header>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" [routerLink]="['/']">T</a>
        <a class="navbar-brand" [routerLink]="['/categorias']"> ¡ Ofertas !</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar" style="justify-content: flex-end;">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">search</mat-icon>Buscar
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">account_circle</mat-icon>Iniciar
                        sesion
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">favorite</mat-icon>Favoritos
                    </a>
                </li>
                <li class=" nav-item">
                    <a class="nav-link" [routerLink]="['/pedido']">
                        <mat-icon aria-hidden="false" aria-label="Example home icon"
                            matBadge="{{carritoService.productos.length}}">
                            shopping_cart</mat-icon>Bolsa
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<body>
    <mat-horizontal-stepper [linear]="true" #stepper>
        <mat-step>
            <div class="flex-container-pedido">
                <div class="flex-noResumen">
                    <h1>Tus productos</h1>
                    <form>
                        <ng-template matStepLabel>Vista previa</ng-template>
                        <div class="productosCarrito">
                            <ul>
                                <li *ngFor="let producto of carritoService.productos">
                                    <div class="card mb-3" style="max-width: 90%;">
                                        <div class="row no-gutters">
                                            <div class="col-md-4">
                                                <img [src]="producto.imagen" class="card-img-top imagenVistaPrevia">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    <h5 class="card-title nombreProducto">{{producto.nombre}}
                                                    </h5>
                                                    <p class="card-text precioProducto">{{producto.precio |
                                                        currency:'EUR':'symbol':'1.0-1':'es'}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <li>
                            </ul>
                        </div>
                    </form>
                </div>
                <div class="flex-Resumen">
                    <h1>Resumen</h1>
                    <mat-divider></mat-divider>
                    <p></p>
                    <div class="flex-containter-precio">
                        <div class="flex-precio">
                            <h5>SUBTOTAL</h5>
                            <p>{{carritoService.subtotal | currency:'EUR':'symbol':'1.0-1':'es'}}</p>
                        </div>
                        <div class="flex-precio">
                            <h5>ENVÍO</h5>
                            <p>GRATIS</p>
                        </div>
                        <div class="flex-precio">
                            <h5>IMPUESTOS</h5>
                            <p>{{carritoService.IVA | currency:'EUR':'symbol':'1.0-1':'es'}}</p>
                        </div>
                        <mat-divider></mat-divider>
                        <p></p>
                        <div class="flex-precio">
                            <h3>TOTAL</h3>
                            <b>
                                <p>{{carritoService.total | currency:'EUR':'symbol':'1.0-1':'es'}}</p>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button mat-button matStepperNext>Siguiente</button>
                <button mat-button matStepperPrevious>Cancelar</button>
            </div>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" label="Detalles de envío">
            <div class="flex-container-pedido">
                <div class="flex-noResumen">
                    <h1>Detalles de envío</h1>
                    <form [formGroup]="secondFormGroup" class="detallesEnvio">
                        <div class="form-group two-fields">
                            <mat-form-field>
                                <mat-label>Nombre</mat-label>
                                <input matInput formControlName="secondCtrl" placeholder="Nombre" required>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Apellido</mat-label>
                                <input matInput formControlName="secondCtrl" placeholder="Apellido" required>
                            </mat-form-field>
                        </div>
                        <mat-form-field>
                            <mat-label>Dirección 1</mat-label>
                            <input matInput formControlName="secondCtrl" placeholder="Dirección 1" required>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Dirección 2</mat-label>
                            <input matInput formControlName="secondCtrl" placeholder="Dirección 2">
                        </mat-form-field>
                        <div class="form-group two-fields">
                            <mat-form-field>
                                <mat-label>Pais</mat-label>
                                <input matInput formControlName="secondCtrl" placeholder="Pais" required>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Ciudad</mat-label>
                                <input matInput formControlName="secondCtrl" placeholder="Ciudad" required>
                            </mat-form-field>
                        </div>
                        <div class="form-group two-fields">
                            <mat-form-field>
                                <mat-label>Código postal</mat-label>
                                <input matInput formControlName="secondCtrl" placeholder="Codigo postal" required>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Número de tlf</mat-label>
                                <input matInput formControlName="secondCtrl" placeholder="Telefono" required>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-radio-group aria-label="Select an option" class="envios">
                                <mat-card class="card-radioButton" style="flex-direction: column;">
                                    <mat-radio-button value="1" checked></mat-radio-button>
                                    <mat-card-header style="text-align: center;">
                                        <mat-card-title>Envio gratis</mat-card-title>
                                    </mat-card-header>
                                    <mat-card-content>
                                        <p>
                                            Entre 2 y 3 días laborables
                                        </p>
                                    </mat-card-content>
                                </mat-card>
                                <mat-card class="card-radioButton" style="flex-direction: column;">
                                    <mat-radio-button value="2"></mat-radio-button>
                                    <mat-card-header style="text-align: center;">
                                        <mat-card-title>Envio express</mat-card-title>
                                    </mat-card-header>
                                    <mat-card-content>
                                        <p>
                                            24 horas despues de realizar el pedido
                                        </p>
                                    </mat-card-content>
                                </mat-card>
                            </mat-radio-group>
                        </div>
                    </form>
                </div>
                <div class="flex-Resumen">
                    <h1>Resumen</h1>
                    <mat-divider></mat-divider>
                    <p></p>
                    <div class="productosCarrito">
                        <ul>
                            <li *ngFor="let producto of carritoService.productos">
                                <div class="card mb-3" style="max-width: 540px;">
                                    <div class="row no-gutters">
                                        <div class="col-md-4">
                                            <img [src]="producto.imagen" class="card-img-top" alt="...">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">{{producto.nombre}}</h5>
                                                <p class="card-text">{{producto.precio}}€</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <li>
                        </ul>
                    </div>
                    <div class="flex-containter-precio">
                        <div class="flex-precio">
                            <h5>SUBTOTAL</h5>
                            <p>{{carritoService.subtotal | currency:'EUR':'symbol':'1.0-1':'es'}}</p>
                        </div>
                        <div class="flex-precio">
                            <h5>ENVÍO</h5>
                            <p>GRATIS</p>
                        </div>
                        <div class="flex-precio">
                            <h5>IMPUESTOS</h5>
                            <p>{{carritoService.IVA | currency:'EUR':'symbol':'1.0-1':'es'}}</p>
                        </div>
                        <mat-divider></mat-divider>
                        <p></p>
                        <div class="flex-precio">
                            <h3>TOTAL</h3>
                            <b>
                                <p>{{carritoService.total | currency:'EUR':'symbol':'1.0-1':'es'}}</p>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button mat-button matStepperNext>Siguiente</button>
                <button mat-button matStepperPrevious>Cancelar</button>
            </div>
        </mat-step>
        <mat-step>
            <div class="flex-container-pedido">
                <div class="flex-noResumen">
                    <h1>Método de pago</h1>
                    <ng-template matStepLabel>Opciones de pago</ng-template>
                    <div>
                        <mat-radio-group aria-label="Select an option" class="pagos">
                            <mat-card class="card-radioButton">
                                <mat-radio-button value="1"></mat-radio-button>
                                <mat-card-header>
                                    <mat-card-title>Paypal</mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                    <img src="https://www.actualidadecommerce.com/wp-content/uploads/2020/10/paypal.png"
                                        alt="Photo" width="100px">
                                </mat-card-content>
                            </mat-card>
                            <mat-card class="card-radioButton">
                                <mat-radio-button value="2" checked></mat-radio-button>
                                <mat-card-header>
                                    <mat-card-title>Tarjeta de credito</mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                    <mat-icon>credit_card</mat-icon>
                                </mat-card-content>
                            </mat-card>
                            <mat-card class="card-radioButton">
                                <mat-radio-button value="3"></mat-radio-button>
                                <mat-card-header>
                                    <mat-card-title>Transferencia bancaria</mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                    <mat-icon>account_balance</mat-icon>
                                </mat-card-content>
                            </mat-card>
                            <mat-card class="card-radioButton">
                                <mat-radio-button value="4"></mat-radio-button>
                                <mat-card-header>
                                    <mat-card-title>Contrareembolso</mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                    <mat-icon>redeem</mat-icon>
                                </mat-card-content>
                            </mat-card>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="flex-Resumen">
                    <h1>Resumen</h1>
                    <mat-divider></mat-divider>
                    <p></p>
                    <div class="productosCarrito">
                        <ul>
                            <li *ngFor="let producto of carritoService.productos">
                                <div class="card mb-3" style="max-width: 540px;">
                                    <div class="row no-gutters">
                                        <div class="col-md-4">
                                            <img [src]="producto.imagen" class="card-img-top" alt="...">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">{{producto.nombre}}</h5>
                                                <p class="card-text">{{producto.precio}}€</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <li>
                        </ul>
                    </div>
                    <div class="flex-containter-precio">
                        <div class="flex-precio">
                            <h5>SUBTOTAL</h5>
                            <p>{{carritoService.subtotal | currency:'EUR':'symbol':'1.0-1':'es'}}</p>
                        </div>
                        <div class="flex-precio">
                            <h5>ENVÍO</h5>
                            <p>GRATIS</p>
                        </div>
                        <div class="flex-precio">
                            <h5>IMPUESTOS</h5>
                            <p>{{carritoService.IVA | currency:'EUR':'symbol':'1.0-1':'es'}}</p>
                        </div>
                        <mat-divider></mat-divider>
                        <p></p>
                        <div class="flex-precio">
                            <h3>TOTAL</h3>
                            <b>
                                <p>{{carritoService.total | currency:'EUR':'symbol':'1.0-1':'es'}}</p>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button mat-button (click)="stepper.reset(); carritoService.pagar()">Pagar ahora</button>
                <button mat-button matStepperPrevious>Cancelar</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>

    <footer class="footer">
        <ul>
            <li><a [routerLink]="['/']">Inicio</a></li>
            <li><a>Acerca de</a></li>
            <li><a>Tienda</a></li>
            <li><a>Ayuda</a></li>
        </ul>
    </footer>
</body>