.nav-link{
    color: lightgrey !important;
    display: flex;
    flex-direction: column;
    align-items    : center;
    cursor: pointer;
}

.navbar li a:hover {
    color: white !important;
}

.main {
    background-image   : url("https://i.pinimg.com/originals/3f/c9/e9/3fc9e99e085b3b426d6fa989fb4f2ef0.jpg");
    background-color   : #cccccc;
    height             : 200px;
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
    position           : relative;
    text-align         : center;
    color              : white;
    padding            : 200px;
}

#titulo {
    font-size : 50px;
    color     : #111;
    font-style: bold;
}

.categorias {
    display        : flex;
    justify-content: space-evenly;
}

#tituloCategorias {
    text-align   : center;
    margin-left  : auto;
    font-size    : 40px;
    margin-top   : 80px;
    margin-bottom: 50px;
}

#textoCategoria {
    text-align   : center;
    margin-left  : auto;
    margin-right : auto;
    margin-bottom: 50px;
    font-size    : 17px;
    width        : 50%;
}

.left {
    background-image   : url("https://static.massimodutti.net/3/photos/2021/V/0/1/p/6812/902/818/6812902818_2_1_16.jpg?t=1610641586437&impolicy=massimodutti-itxmedium&imwidth=700");
    background-color   : #cccccc;
    height             : 700px;
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
    position           : relative;
    text-align         : center;
    color              : white;
    padding            : 125px;
    font-size          : 20px;
    text-decoration    : none;
    max-width   : 100%;
}

.mid {
    background-image   : url("https://st.mngbcn.com/rcs/pics/static/T8/fotos/S20/87034009_99.jpg?ts=1613645061986&imwidth=637&imdensity=1");
    background-color   : #cccccc;
    height             : 700px;
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
    position           : relative;
    text-align         : center;
    color              : white;
    padding            : 125px;
    font-size          : 20px;
    text-decoration    : none;
    max-width   : 100%;
}
.mid1 {
    background-image   : url("https://ae01.alicdn.com/kf/Hd5b65a066a4a42e18c8dcdb4a7e83bf9A/Zapatos-planos-de-malla-transpirable-para-mujer-zapatillas-informales-a-la-moda-vulcanizados-para-gimnasio-2020.jpg_q50.jpg");
    background-color   : #cccccc;
    height             : 700px;
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
    position           : relative;
    text-align         : center;
    color              : white;
    padding            : 125px;
    font-size          : 20px;
    text-decoration    : none;
    max-width   : 100%;
}

.right {
    background-image   : url("https://cdn.shopify.com/s/files/1/1631/3281/products/abrigo-marron-largo-mujer-the-are-00001_960x1190_crop_center.jpg?v=1603358531");
    background-color   : #cccccc;
    height             : 700px;
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
    position           : relative;
    text-align         : center;
    color              : white;
    padding            : 125px;
    font-size          : 20px;
    text-decoration    : none;
    max-width   : 100%;
}

.footer {
    text-align: center;
    padding   : 20px;
    background: rgba(19, 35, 47, .9);
    position  : relative;
    bottom    : 0;
}

.footer ul{
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    padding: 0;
}


.footer li {
    list-style  : none;
    display     : inline-block;
    border-right: 3px solid white;
    padding     : 0px 7px;
    font-size   : 17px;
}

.footer li:last-child {
    border-right: none;
}

.footer li a {
    display        : block;
    color          : white;
    text-align     : center;
    padding        : 14px 16px;
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    .categorias {
        flex-direction: column;
    }

    .left {
        width      : 100%;
        height     : 700px;
    }

    .mid {
        width      : 100%;
        height     : 700px;
        margin-top : 20px;
    }

    .mid1 {
        width      : 100%;
        height     : 700px;
        margin-top : 20px;
    }

    .right {
        width        : 100%;
        height       : 700px;
        margin-top   : 20px;
        margin-bottom: 20px;
    }

    #tituloCategorias{
        font-size: 30px;
    }
}