.nav-link{
    color: lightgrey !important;
    display: flex;
    flex-direction: column;
    align-items    : center;
    cursor: pointer;
}

.navbar li a:hover {
    color: white !important;
}

.main {
    background-image   : url("https://i.pinimg.com/originals/3f/c9/e9/3fc9e99e085b3b426d6fa989fb4f2ef0.jpg");
    background-color   : #cccccc;
    height             : 200px;
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
    position           : relative;
    text-align         : center;
    color              : white;
    padding            : 200px;
}

#titulo {
    font-size : 50px;
    color     : #111;
    font-style: bold;
}

.categorias {
    display        : flex;
    justify-content: space-evenly;
    font-size      : 15px;
}

.left {
    background-image   : url("https://image.freepik.com/foto-gratis/retrato-bella-modelo-sonriente-vestida-pantalones-cortos-verano-hipster-jeans-ropa_158538-3201.jpg");
    background-color   : #cccccc;
    height             : 600px;
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
    position           : relative;
    text-align         : center;
    color              : white;
    padding            : 200px;
}

.mid {
    background-image   : url("https://images.footlocker.com/is/image/FLEU/317135040020_01?wid=630&hei=630&fmt=png-alpha");
    background-color   : #cccccc;
    height             : 600px;
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
    position           : relative;
    text-align         : center;
    color              : white;
    padding            : 200px;
}

.right {
    background-image   : url("https://lsco.scene7.com/is/image/lsco/865240007-front-pdp-lse?fmt=jpeg&qlt=70,1&op_sharpen=0&resMode=sharp2&op_usm=0.8,1,10,0&fit=crop,0&wid=450&hei=750");
    background-color   : #cccccc;
    height             : 600px;
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
    position           : relative;
    text-align         : center;
    color              : white;
    padding            : 200px;
}

.footer {
    text-align: center;
    padding   : 20px;
    background: rgba(19, 35, 47, .9);
    position  : relative;
    bottom    : 0;
    width     : 100%;
}

.footer ul{
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    padding: 0;
}

.footer li {
    list-style  : none;
    display     : inline-block;
    border-right: 3px solid white;
    padding     : 0px 7px;
    font-size   : 17px;
}

.footer li:last-child {
    border-right: none;
}

.footer li a {
    display        : block;
    color          : white;
    text-align     : center;
    padding        : 14px 16px;
    text-decoration: none;
}

#tituloCategorias {
    text-align   : center;
    margin-left  : auto;
    font-size    : 40px;
    margin-top   : 80px;
    margin-bottom: 50px;
}

#textoCategoria {
    text-align   : center;
    margin-left  : auto;
    margin-right : auto;
    margin-bottom: 50px;
    font-size    : 17px;
    width        : 50%;
}

.Boletin {
    display        : flex;
    justify-content: flex-start;
    font-size      : 15px;
    padding        : 30px;
}

#imgBoletin {
    width      : 25%;
    height     : 100%;
    align-items: center;
}

#textoBoletin {
    font-size  : 40px;
    margin-left: 40px;
    margin-top : 100px;
}

#search1 {
    width       : 600px;
    height      : 50px;
    margin-right: auto;
    font-size   : 20px;
}

#subBoton {
    width           : 150px;
    height          : 55px;
    margin-left     : 40px;
    background-color: rgb(175, 175, 175);
    font-size       : 20px;
}

#tituloModelo {
    font-size: 40px;
}

#cajaModelo {
    width: 25%;
}

.modeloyproductos {
    display        : flex;
    justify-content: flex-start;
    padding        : 40px;
}

.productos {
    display        : flex;
    justify-content: flex-start;
    margin-left    : 100px;
}

.card-title {
    font-size  : 20px;
    font-weight: bold;
}

.card {
    margin-left: 20px;
}

#searchBar {
    width        : 500px;
    border-radius: 50px 50px 50px 50px;
    height       : 40px;
}

#botonBuscar {
    border-radius: 50px 50px 50px 50px;
}

.checked {
    color: orange;
}

.productosMobile {
    display: none;
}

@media screen and (max-width: 1024px) {
    .productosMobile {
        display   : flex;
        margin-top: 30px;
    }

    .productos {
        display: none;
    }

    .modeloyproductos {
        display       : flex;
        flex-direction: column;
        align-items   : center;
        align-content : center;
    }

    #cajaModelo {
        align-items   : center;
        align-content : center;
        flex-direction: column;
        text-align    : center;
        width         : 50%;
    }

    #tituloModelo {
        width: 100%;
    }

    #imgBoletin {
        margin-top: 30px;
    }

    #textoBoletin {
        margin-top: 20px;
    }

    #search1 {
        width: 100%;
    }

    #subBoton {
        margin-left: 0px;
    }

    .categorias {
        justify-content: flex-start;
        align-items    : center;
        flex-direction : column;
    }

    .left {
        position: flex-start;
        width   : 90%;
    }

    .mid {
        position  : flex-start;
        width     : 90%;
        margin-top: 30px;
    }

    .right {
        position  : flex-start;
        width     : 90%;
        margin-top: 30px;
    }

    #searchBar {
        position : relative;
        width    : 90%;
        min-width: 120px;
    }

    #botonBuscar {
        margin-left: auto;
    }
    .main{
        padding: 0%;
    }
    #titulo {
        font-size : 250%;
        color     : #111;
        font-style: bold;
    }
}